* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 5.6rem;

}

.cabecalho__logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 3.6rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

.cabecalho__logo a img {
  height: 7rem;
  width: 15.4rem;
  object-fit: contain;
  border-right: 2px #000 solid;
  margin-right: 2.0rem;

}

.cabecalho__botao a {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  background-color: #0E71DF;
  padding: 0.96rem 2.2rem ;
  font-size: 1.8rem;
  line-height: 3.2rem;
  border-radius: 1.2rem;
  display: inline-block;
  text-align: center;


}

@media only screen and (max-width: 768px) {
  .cabecalho__botao a {
    display: none;
  }
}

.banner {
  background: #EFF6F2;
  padding: 5.2rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner .banner__titulo h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 5.2rem;
  line-height: 6.2rem;
  font-weight: 700;

}

.banner .banner__titulo h1 strong {
  color: #FF7D23;
}


@media only screen and (max-width: 520px) {
  .banner .banner__titulo h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }
}

.banner__formulario form {
  margin: 4.2rem 0;
  display: flex;
  align-items: center;
  min-width: 50rem;

}

@media only screen and (max-width: 768px) {
  .banner__formulario {
    width: 100%;
  }
  
  .banner__formulario form {
    min-width: unset;
  }
} 


.banner__formulario form input {
  width: 100%;
  padding: 1rem 1.4rem;
  border: none;
  border-radius: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #FF7D23;
  font-weight: 700;


}

.banner__formulario form input::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #AEB0B4;
  font-weight: 700;
}

.banner__formulario form input:focus {
  outline: none;
  transition: all .2s ease;
  -webkit-box-shadow: 9px 11px 8px -6px rgba(0,0,0,0.68);
  -moz-box-shadow: 9px 11px 8px -6px rgba(0,0,0,0.68);
  box-shadow: 9px 11px 8px -6px rgba(0,0,0,0.68);
}

.banner__formulario form button {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #FF7D23;
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 1rem;
  margin-left: -1rem;
  letter-spacing: 0.5px;
}

.banner__formulario form button:hover{
  color: #FF7D23;
  background-color: #fff;
  font-weight: 700;
}

.categorias {
  background-color: #ff7f231c;
  padding: 2rem;
}

.titulo__padrao  {
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  display: grid;
  place-items: center;
}

.categoria__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .categoria__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 520px) {
  .categoria__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

.categoria__wrapper-item {
  padding: 1rem;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  
}

.categoria__wrapper-item:hover{
  transition: all .2s ease;
  -webkit-box-shadow: 9px 11px 8px -6px rgba(0,0,0,0.68);
  -moz-box-shadow: 9px 11px 8px -6px rgba(0,0,0,0.68);
  box-shadow: 9px 11px 8px -6px rgba(0,0,0,0.68);
  background-color: rgba(255, 125, 35, 0.7);
}

.categorias .categoria__logo{
  background: #FF7D23;
  padding: 2rem;
  border-radius: 50%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 7.2rem;
  height: 7.2rem;
    
}

.categorias .categoria__logo img{
  width: 3.8rem;
  height: 3.8rem;
  object-fit: contain;
}

.categorias .categoria__titulo {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #000000;
}

/**Daqui para baixo precisa rever**/

.vaga {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 3.6rem;
  margin: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 1px rgba(199,177,177,0.75);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(199,177,177,0.75);
  -moz-box-shadow: 0px 0px 2px 1px rgba(199,177,177,0.75);

}

.vaga .vaga__descricao {
  display: flex;
  justify-content: baseline;  
  flex-wrap: wrap;
  
}

.vaga .vaga__descricao .vaga__logo {
  background-color: #fff;
  padding: 2.6rem;
  margin-right: 3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px rgba(90, 87, 87, 0.479);
  
}

.vaga .vaga__descricao .vaga__nome__empresa {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #5F5858;

}

.vaga .vaga__descricao .titulo__vaga {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 4rem;
  color: #000000;

}

.vaga .vaga__descricao .vaga__local {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 4rem;
  color: #000000;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%; 
  padding-bottom: 0.7rem;
}

.vaga .vaga__descricao .vaga__formato .vaga__formato1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #0E71DF;
  padding: 0.35rem 2.2rem;
  border-radius: 2rem;
  margin-right: 1.3rem;
}

.vaga .vaga__descricao .vaga__formato .vaga__formato2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #9e8b72;
  padding: 0.35rem 1.2rem;
  border-radius: 2rem;
  margin-right: 1.3rem;
}

.vaga .vaga__descricao .vaga__formato .vaga__formato3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #FFB44F;
  padding: 0.35rem 2.2rem;
  border-radius: 2rem;
  margin-right: 1.3rem;
}

.vaga .vaga__descricao .vaga__formato .vaga__formato4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #338573;
  padding: 0.35rem 3.7rem;
  border-radius: 2rem;
  margin-right: 1.3rem;
}

.vaga .vaga__descricao .vaga__formato .vaga__formato5 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  background-color: #338573;
  padding: 0.35rem 3.5rem;
  border-radius: 1.3rem;
}

.vaga .ver__vaga a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background-color: #FF7D23;
  padding: 0.96rem 2.2rem ;
  font-size: 1.8rem;
  line-height: 3.2rem;
  border-radius: 1.2rem;
  display: inline-block;
  text-align: center;

}

.vaga .ver__vaga a:hover {
  color: #FF7D23;
  background-color: #fff;
  border-style: solid;
  font-weight: 700;
}

.vagas .veja__mais{
  display: flex;
  justify-content: center;
  
}

.vagas .veja__mais a{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background-color: #FF7D23;
  padding: 0.96rem 2.2rem ;
  font-size: 1.8rem;
  line-height: 3.2rem;
  border-radius: 1.2rem;
  margin-top: 7.5rem; 
  display: flex; 
  
}

.vagas .veja__mais a img{
  padding-left: 1rem;
   
}

@media only screen and (max-width: 941px) {
  .vaga .ver__vaga a {
    padding: 0.96rem 1.6rem ;
    font-size: 1.2rem;
    line-height: 3.2rem;
  }

  .vaga .vaga__descricao .titulo__vaga {
    font-size: 2.2rem;
    line-height: 4rem;
  
  }

  .vaga .vaga__descricao .vaga__formato .vaga__formato1 {
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 0.35rem 2rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato2 {
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 0.35rem 1rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato3 {
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 0.35rem 2rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato4 {
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 0.35rem 3.2rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato5 {
    font-size: 1rem;
    line-height: 2.4rem;
    padding: 0.35rem 3rem;
  }

  .vaga .vaga__descricao .vaga__logo {
    padding: 2.2rem;
    margin-right: 2.6rem;
    border-radius: 50%;
    
  }
}

@media only screen and (max-width: 768px) {
  .vaga .vaga__descricao .vaga__local {
  font-size: 1.2rem;
  line-height: 4rem;
  flex-wrap: wrap;
  width: 70%; 
  padding-bottom: 0.7rem;
  }

  .vaga .vaga__descricao .titulo__vaga {
    font-size: 2rem;
    line-height: 4rem;
  
  }

  .vaga .vaga__descricao .vaga__formato .vaga__formato1 {
    font-size: 0.8rem;
    line-height: 2.4rem;
    padding: 0.35rem 1.8rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato2 {
    font-size: 0.8rem;
    line-height: 2.4rem;
    padding: 0.35rem 1rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato3 {
    font-size: 0.8rem;
    line-height: 2.4rem;
    padding: 0.35rem 1.8rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato4 {
    font-size: 0.8rem;
    line-height: 2.4rem;
    padding: 0.35rem 3rem;
    margin-right: 0.7rem;
  }
  
  .vaga .vaga__descricao .vaga__formato .vaga__formato5 {
    font-size: 0.8rem;
    line-height: 2.1rem;
    padding: 0.35rem 3rem;
  }

  .vaga .vaga__descricao .vaga__logo {
    padding: 1.6rem;
    margin-right: 1.6rem;
    border-radius: 50%;
  
  }

  .vaga .ver__vaga a {
    padding: 0.96rem 1.4rem ;
    font-size: 1rem;
  }

}

.rodape a{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  background-color: #FF7D23;
  font-size: 1.8rem;
  line-height: 3.2rem;
  display: flex;
  justify-content: center;
  margin-top: 7.9rem;
}
